@font-face {
    font-family: 'Aeonik';
    src: url('./aeonik/AeonikProTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aeonik';
    src: url('./aeonik/AeonikProTRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aeonik';
    src: url('./aeonik/AeonikProTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  